    body {
        margin: 0;
    }
    
    .container p {
        text-align: center;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    .title {
        font-family: 'Lobster', cursive;
        font-style: italic;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #1C1C1C;
    }
    
    .edit-text-area {
        margin-top: 10px;
        color: grey;
        background: rgba(0, 0, 0, 0.04);
        border: 0px;
        width: 725px;
    }
    
    .custom-btn-color {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 40px;
        height: 21px;
        left: 28px;
        top: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 28px;
        background-color: #E1651F;
        color: white;
        border-radius: 39px;
    }
    
    .footer-image-content{
        background-image: url('images/footer_burger.jpg');
        height: 375px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .middle-footer {
        height: 459px;
        width: auto;
        background-color: #1C1C1C;
    }
    
    .actual-footer {
        height: 86px;
        background-color: #2C2C2C;
    }
    
    .actual-footer>p {
        padding: 30px 0 10px 50px;
        color: white;
        font-size: 16px;
        font-weight: 400px;
        font-style: normal;
    }
    
    #footer-namelink {
        padding: 30px 0 10px;
        color: white;
        font-size: 16px;
        font-weight: 400px;
        font-style: normal;
    }
    
    .middle-footer-content {
        padding: 150px 0 30px 150px;
        color: white;
    }
    
    .form-control {
        Width: 351px;
        Height: 40px;
    }
    
    .des-color {
        margin-top: 10px;
        background: #E1651F;
        color: #E1651F;
        Width: 351px;
        Height: 40px;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sedgwick+Ave+Display&display=swap');
    .row-md-6 h1 {
        font-family: 'Dancing Script', cursive;
        font-family: 'Sedgwick Ave Display', cursive;
        color: white;
    }
    
    .row-md-6 p {
        color: white;
    }
    
    .col-md-4 h3 {
        font-family: 'Dancing Script', cursive;
        font-family: 'Sedgwick Ave Display', cursive;
    }
    
    .customer-serve {
        padding: 150px 0 0px 250px;
        color: white;
    }
    
    .input-box-modi {
        height: 53px;
        width: 922px;
        margin-top: 20px;
        color: grey;
        border: none;
        background: rgba(0, 0, 0, 0.04);
    }
    
    .input-box-modi-2 {
        height: 53px;
        margin-top: 20px;
        color: grey;
        border: none;
        background: rgba(0, 0, 0, 0.04);
    }