    body {
        margin: 0;
    }
    
    .container p {
        text-align: center;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
    .title {
        font-family: 'Palette Mosaic', cursive;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #1C1C1C;
    }
    
    .edit-text-area {
        margin-top: 10px;
        color: grey;
        background: rgba(0, 0, 0, 0.04);
        border: 0px;
        width: 725px;
    }
    
    .custom-btn-color {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 40px;
        height: 21px;
        left: 28px;
        top: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 28px;
        background-color: #E1651F;
        color: white;
        border-radius: 39px;
    }
    
    .footer-image-content {
        background-image: url('images/footer_burger.jpg');
        height: 375px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .middle-footer {
        height: 459px;
        width: auto;
        background-color: #1C1C1C;
    }
    
    .actual-footer {
        height: 86px;
        background-color: #2C2C2C;
    }
    
    .actual-footer>p {
        padding: 30px 0 10px 50px;
        color: white;
        font-size: 16px;
        font-weight: 400px;
        font-style: normal;
    }
    
    #footer-namelink {
        padding: 30px 0 10px;
        color: white;
        font-size: 16px;
        font-weight: 400px;
        font-style: normal;
    }
    
    .middle-footer-content {
        font-family: Oleo Script Swash Caps;
        display: grid;
        justify-content: center;
        align-content: center;
        color: white;
        font-weight: bold;
    }
    
    .service-content {
        font-family: Oleo Script Swash Caps;
        display: grid;
        justify-content: center;
        align-content: center;
        font-weight: bold;
    }
    
    .form-control {
        Width: 351px;
        Height: 40px;
    }
    
    .des-color {
        margin-top: 10px;
        background: #E1651F;
        color: #E1651F;
        Width: 351px;
        Height: 40px;
    }
    
    .customer-serve {
        /* padding: 150px 0 0px 250px; */
        color: white;
    }
    
    .input-box-modi-2 {
        height: 53px;
        margin-top: 20px;
        color: grey;
        border: none;
        background: rgba(0, 0, 0, 0.04);
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
    .middle-footer-content h3 {
        font-family: 'Style Script', cursive;
    }
    
    .customer-underline {
        width: 70px;
        height: 2px;
        background: #E1651F;
    }
    
    .subscribe-part {
        padding-right: 50px;
    }